body{
    font-family: 'Roboto';
    background: #333;
    margin: 0;
}

nav {
    background: #fff;
    height: 10vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3vh;
    
}

nav ul li a{
    text-decoration: none;
    color: #232323;
}

header{
    width: 100%;
    height: 100vh;
}

.bg{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), 
                url(../img/nicebackground2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
    height: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom {
    margin: 10px;
    width: 30%;
    height: 100%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10%;
    overflow: hidden;
}

.kolom .atas{
    width: 100%;
    height: 60%;
    background: #2c3e50;
}

.kolom .tengah{
    width: 100%;
    height: 10%;
    background: #fff;
}

.kolom .bawah{
    width: 100%;
    height: 30%;
    background: #f0f0f0;
}
