a {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    background: #333;
    margin: 0;
}

nav {
    background: linear-gradient(rgba(165, 165, 165, 0.8), rgba(0, 0, 0, 0.6));
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3vh;
    
}

nav ul li a{
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.1em;
}

header{
    width: 100%;
    height: 100vh;
}

.bg{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), 
                url(../img/spacerider.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
    height: 65%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom {
    margin: 10px;
    width: 28%;
    height: 90%;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10%;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.3s ease;
}

.kolom:hover{
    width: 30%;
    height: 100%;
}

.kolom:hover img{
    transform: rotate(40deg);
}

.kolom:hover a img{
    transform: rotate(40deg);
}

.kolom .atas{
    width: 100%;
    height: 60%;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom:hover img{
    transform: rotate(40deg);
}

.kolom img{
    height: 67%;
    transition: 2.5s ease;
}

.kolom .tengah{
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.kolom a .tengah{
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.kolom .bawah{
    width: 100%;
    height: 30%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom a .bawah{
    width: 100%;
    height: 30%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom .bawah p{
    width: 80%;
    height: auto;
    text-align: center;
    color: #333;
}

.kolom a .bawah p{
    width: 80%;
    height: auto;
    text-align: center;
    color: #333;
}

footer{
    background: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.bgf{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), 
                url(../img/spacerider2.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentf{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contentf .atas{
    height: 40%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.contentf .bawah{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

input[type="search"]{
    border-radius: 50px;
    padding: 2vh 3vh 2vh 3vh;
    outline: none;
    border: none;
    color: #333;
    width: 50%;
    height: 10vh;
    font-size: 1.3em;
    opacity: 0.7;
}

.title{
    overflow: hidden;
    height: 30%;
    width: 80%;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.paragraf{
    overflow: hidden;
    height: 80%;
    width: 60%;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2em;
    text-align: center;
}


@media only screen and (max-width: 600px){
a {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    background: #333;
    margin: 0;
}

nav {
    background: linear-gradient(rgba(165, 165, 165, 0.8), rgba(0, 0, 0, 0.6));
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3vh;
    
}

nav ul li a{
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.1em;
}

header{
    width: 100%;
    height: 100vh;
}

.bg{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), 
                url(../img/spacerider.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
    height: 65%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom {
    margin: 10px;
    width: 28%;
    height: 90%;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10%;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.3s ease;
}

.kolom:hover{
    width: 30%;
    height: 100%;
}

.kolom:hover img{
    transform: rotate(40deg);
}

.kolom:hover a img{
    transform: rotate(40deg);
}

.kolom .atas{
    width: 100%;
    height: 60%;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom:hover img{
    transform: rotate(40deg);
}

.kolom img{
    height: 67%;
    transition: 2.5s ease;
}

.kolom .tengah{
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.kolom a .tengah{
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.kolom .bawah{
    width: 100%;
    height: 30%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom a .bawah{
    width: 100%;
    height: 30%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom .bawah p{
    width: 80%;
    height: auto;
    text-align: center;
    color: #333;
}

.kolom a .bawah p{
    width: 80%;
    height: auto;
    text-align: center;
    color: #333;
}

footer{
    background: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.bgf{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), 
                url(../img/spacerider2.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentf{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contentf .atas{
    height: 40%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.contentf .bawah{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

input[type="search"]{
    border-radius: 50px;
    padding: 2vh 3vh 2vh 3vh;
    outline: none;
    border: none;
    color: #333;
    width: 50%;
    height: 10vh;
    font-size: 1.3em;
    opacity: 0.7;
}

.title{
    overflow: hidden;
    height: 30%;
    width: 80%;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.paragraf{
    overflow: hidden;
    height: 80%;
    width: 60%;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2em;
    text-align: center;
}}